/* Общие стили */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1a1a1d;
    color: #fff;
    background: url(../img/Cyberpunk.jpg) no-repeat center center/cover;
    position: relative;
    height: 100%;
}
html {
    height: 100%;
}
h3 {
    margin-bottom: 50px;
    font-size: 20px;
    color: #f0768b;
}
/* Стили для шапки сайта */
header {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0d0d0f;
}

.logo h1 {
    color: #f0768b;
    font-size: 24px;
}

.main-link {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0768b;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.hero-content h2 {
    font-size: 36px;
    color: #f0768b;
}

.hero-content p {
    margin: 20px 0;
    font-size: 18px;
    color: #f0768b;
    margin-bottom: 50px;
}
.carousel-3d {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.carousel-3d > * {
    flex: 0 0 auto;
}
.carousel-3d figure {
    margin: 0;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.carousel-3d figure img {
    width: 700px;
    height: 600px;
    border: 5px solid #f0768b;
    border-radius: 100px;
    object-fit: cover;
    user-select: none;
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel-3d nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel-3d nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #f0768b;
    padding: 5px 10px;
    font-weight: bold;
    transition: all .3s ease;
}
.carousel-3d nav button.prev,button.next {
    color: #f0768b;
}
.carousel-3d nav button:hover {
    color: #FFF;
    background: #f0768b;
}
footer {
    text-align: center;
    height: 28px;
    padding: 20px 0;
    background-color: #0d0d0f;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    position: absolute;
}
footer {
    text-align: center;
    height: 28px;
    padding: 20px 0;
    background-color: #0d0d0f;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    position: absolute;
}
