* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: url('../img/Cyberpunk.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #f0768b;
}

header {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #0d0d0f;
}

.logo h1 {
    color: #f0768b;
    font-size: 24px;
}

.logo a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0768b;
}

main {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.checkout-container {
    display: flex;
    gap: 20px;
}

.address-form, .cart {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.address-form {
    flex: 2;
}

.cart {
    flex: 1;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.continue-button {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: green;
    border: 4px solid green;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.continue-button:hover {
    background-color: #0056b3;
}

.cart-item, .total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.total-label {
    margin-bottom: 5px;
}

.total-amount {
    font-size: 16px;
}

span {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0d0d0f;
    color: #fff;
    width: 100%;
    position: relative;
}