/* Общие стили */

body {
    font-family: 'Press Start 2P', cursive;
    background: url('../img/Cyberpunk.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
html {
    height: 100%;
}

/* Стили для шапки сайта */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0d0d0f;
    height: 28px;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    color: #f0768b;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0768b;
}

/* Стили для каталога */
.catalog {
    padding: 40px;
    text-align: center;
}

.catalog h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
}

/* Сетка товаров */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Стили для товара */
.product {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
    height: 650px;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.product .price {
    font-size: 16px;
    color: #f0768b;
    margin-bottom: 15px;
}

.product .btn {
    background-color: #f0768b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product .btn:hover {
    background-color: #f0768b;
}
.dropdown {
    background-color: rgba(0, 0, 0, 0.85);
    color: #f0768b;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.dropdown-btn {
    background-color: rgba(0, 0, 0, 0.85);
    color: #f0768b;
    width: 160px; /* Ширина кнопки */
    height: 40px; /* Увеличиваем высоту для лучшего внешнего вида */
    border: #f0768b 2px solid;
    border-radius: 10px;
    cursor: pointer; /* Указатель при наведении */
}

.dropdown-content {
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    position: absolute;
    min-width: 160px; /* Ширина выпадающего меню */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #f0768b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #f0768b;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 12px 0; /* Убираем боковые отступы */
    text-decoration: none;
    display: block;
    width: 160px; /* Ширина ссылки совпадает с кнопкой */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black; /* Изменяем цвет текста при наведении для контраста */
}
.pagination-container {
    display: flex;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    margin: 20px 0; /* Отступ сверху и снизу */
}

.pagination {
    margin: 0; /* Убирает дополнительные отступы по умолчанию */
}

.page-item {
    margin: 0 5px; /* Отступ между элементами */
}

.page-link {
    border: 1px solid #f0768b; /* Цвет границы */
    background-color: rgba(0, 0, 0, 0.85); /* Цвет фона */
    color: #f0768b; /* Цвет текста */
    padding: 10px 15px; /* Отступ внутри кнопки */
    border-radius: 5px; /* Закругление углов */
    transition: background-color 0.3s; /* Плавный переход для фона */
}

.page-link:hover {
    background-color: rgba(0, 0, 0, 0.85); /* Цвет фона при наведении */
    color: #f0768b; /* Цвет текста при наведении */
}

.page-item.disabled .page-link {
    background-color: rgba(0, 0, 0, 0.85); /* Цвет фона для отключенных элементов */
    color: #f0768b; /* Цвет текста для отключенных элементов */
}

.active .page-link {
    background-color: rgba(0, 0, 0, 0.85); /* Цвет фона для активной страницы */
    color: #ffffff; /* Цвет текста для активной страницы */
    border: 1px solid #f0768b; /* Цвет границы для активной страницы */
}
/* Футер */
footer {
    text-align: center;
    height: 28px;
    padding: 20px 0;
    background-color: #0d0d0f;
    color: #fff;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}