{% extends 'user/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block JavaScript %}
    <script defer src="{% static 'js/profile-save-btn.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
    
    <!-- Профиль -->
        <div class="profile-section">
            <h2>Profile</h2>
            <form id="profile-form" action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-form">
                    <div class="avatar-upload">
                        <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/default-avatar-icon.jpg' %}{% endif %}" 
                             alt="Аватар" class="avatar-image">
                    
                        <!-- Поле выбора файла скрыто с помощью CSS -->
                        <input type="file" name="image" accept="image/*" id="{{ form.image.id_for_label }}" style="display: none;">
                    
                        <!-- Видимая кнопка -->
                        <label class="custom-file-label" for="{{ form.image.id_for_label }}">Browse</label>
                    </div>
                    <div class="form-fields">
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        {{ form.first_name }}

                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        {{ form.last_name }}

                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}

                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}

                        <label for="{{ form.address.id_for_label }}">Address</label>
                        {{ form.address }}

                    </div>
                </div>
                <button type="submit" class="save-btn" id="save-btn" style="display: none;">Save</button>
            </form>
            <a href="{% url 'user:logout' %}" class="exit-btn">Exit</a>
        </div>
        
        {% include 'products/basket.html' %}

    </div>
{% endblock %}
