{% extends 'user/base.html' %}
{% load static %}
{% block css %}
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}
{% block content %} 
    <form action="{% url 'user:registration' %}" method="post">
        {% csrf_token %}
        <!-- Имя и Фамилия в одном ряду -->
        <div class="input-row">
            <div class="inputGroup">
                <label for="{{form.first_name.id_for_label}}">Name</label>
                {{ form.first_name }}
            </div>
            <div class="inputGroup">
                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                {{ form.last_name }}
            </div>
        </div>

        <!-- Никнейм и Почта в одном ряду -->
        <div class="input-row">
            <div class="inputGroup">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>
            <div class="inputGroup">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
        </div>

        <!-- Адрес и Пароль в одном ряду -->
        <div class="input-row">
            <div class="inputGroup">
                <label for="{{ form.address.id_for_label }}">Adress</label>
                {{ form.address }}
            </div>
            <div class="inputGroup">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
            </div>
        </div>

        <!-- Повтор пароля -->
        <div class="inputGroup">
            <label for="{{ form.password2.id_for_label }}">Repeat Password</label>
            {{ form.password2 }}
        </div>

        <!-- Кнопка регистрации -->
        <div class="inputGroup">
            <button id="register">Register</button>
        </div>

        <div class="registration-text">
            <p>Уже есть аккаунт?</p>
        </div>
        <div>
            <a class="text" href="{% url 'user:login' %}">Войти!</a>
        </div>
    </form>
{% endblock %}

