{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    {% block css %} {% endblock %}
    
    
</head>
<body>
    <header>
        <div class="logo">
            <a class="main-link" href="{% url 'index' %}"><h1>GameStore</h1></a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'products:index' %}">Каталог игр</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                
                {% if user.is_authenticated %}
                     <li><a href="{% url 'user:profile' %}">Профиль</a></li>
                {% else %}
                     <li><a href="{% url 'user:login' %}">Войти</a></li>    
                {% endif %}
            
                {% if user.is_superuser or user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Админ-панель</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %} 

    <footer>
        <p>© 2024 GameStore. Все права защищены.</p>
    </footer>
</body>
</html>