{% extends 'products/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block content %} 
    <section class="catalog">
        <h2>Каталог игр</h2>
        <div class="products">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.image.url }}" alt="Game 1">
                <h3>{{ product.name }}</h3>
                <p class="price">₽{{ product.price }}</p>
                <a href="#" class="btn">Купить</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
