{% extends 'products/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block content %} 
    <section class="catalog">
        <h2>Каталог игр</h2>
        <p>Выберите категорию:</p>
        <div class="dropdown">
            <button class="dropdown-btn">Категории</button>
            <div class="dropdown-content">
                <a href="{% url 'products:index' %}">Все игры</a>
                {% for category in categories %}
                    {% if category.id %}
                        <a href="{% url 'products:category' category.id %}">{{ category.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="products">
            {% for product in object_list %}
            <div class="product">
                <img src="{{ product.image.url }}" alt="Game 1">
                <h3>{{ product.name }}</h3>
                <p class="price">₽{{ product.price }}</p>
                <a href="{% url 'products:basket_add' product.id %}" class="btn">Купить</a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% if is_paginated %}
<div class="pagination-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %} {% url 'products:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}" tabindex="-1" aria-disabled="true">
                    Предыдущая
                </a>
            </li>
            {% for page in paginator.page_range %}
                <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                    <a class="page-link" href="{% url 'products:paginator' page %}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %} {% url 'products:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">Следующая</a>
            </li>
        </ul>
    </nav>
</div>
    {% endif %}
{% endblock %}
